<!DOCTYPE html>
{% load static %}
<html>
  <head>
    
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  </head>
  <body>
    
    <div class="flex h-screen justify-center items-center font-mono italic">
    <div class="text-center">

    {% block body %}
    
    {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <div class="text-center py-4 lg:px-4">
          <div class="p-2 bg-sky-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
            <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
            <span class="font-semibold mr-2 text-left flex-auto">{{message}}</span>
            <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
          </div>
        </div>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="bg-neutral-900 rounded-lg p-12 shadow-xl shadow-indigo-900/20">
    <center><img class="shadow-indigo-900/20" src="{% static '/imgs/raven.png' %}" alt="Logo"></center>
    <br>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    <br>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
      <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
      {% else %}
      <li><a class="bg-indigo-900 px-5 py-3 text-sm shadow-sm font-medium tracking-wider  text-indigo-100 rounded-full hover:shadow-2xl hover:bg-indigo-800" href="{% url 'account_signup' %}"> Don't have an account ? Sign Up</a></li>
      {% endif %}
    </ul>
    {% endblock %}
  </div>
  </div>
</div>
  </body>
</html>
