{% extends 'index.html' %} 
{% load static %}

{% block content %}


<div class="container flex justify-center mx-auto pt-16">
  <div>
    <p class=" text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-red-600 to-slate-900 text-center font-normal pb-3">
      BUILDING A COMMUNITY
    </p>

  </div>
</div>

<!-- Section 3 -->
<section class="w-full bg-[linear-gradient(-90deg, #01172b, #00101f)] pt-7 pb-7 md:pt-20 md:pb-24">
  <div class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16">

      <!-- Image -->
      <div class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10">
          <img src="{% static '/imgs/blackhat.png' %}" class="w-full">
      </div>

      <!-- Content -->
      <div class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none font-sans italic" id='hero-section'>
          <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
              Boost Threat Hunting
          </h2>
          <p class="pt-4 pb-8 m-0 leading-7 text-white border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
            Identify specific attributes of malicious content by making the use of publicly available Cybersecurity resources
          </p>
          <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
              <li class="box-border relative py-1 pl-0 text-left text-white border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-500 rounded-full"><span class="text-sm font-bold">✓</span></span class='text-white'> Maximize malware search
              </li>
              <li class="box-border relative py-1 pl-0 text-left text-white border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-500 rounded-full"><span class="text-sm font-bold">✓</span></span class='text-white'> Speed past threat actors
              </li>
          </ul>
      </div>
      <!-- End  Content -->
  </div>
  <div class="box-border flex flex-col items-center content-center px-8 mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16">

      <!-- Content -->
      <div class="box-border w-full text-black border-solid md:w-1/2 md:pl-6 xl:pl-32 italic">
          <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
              Learn From Others
          </h2>
          <p class="pt-4 pb-8 m-0 leading-7 text-white border-0 border-gray-300 sm:pr-10 lg:text-lg">
            Build an atmosphere that creates productivity and enhances your skills
          </p>
          <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
              <li class="box-border relative py-1 pl-0 text-left text-white border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-500 rounded-full"><span class="text-sm font-bold">✓</span></span> Share your research
              </li>
              <li class="box-border relative py-1 pl-0 text-left text-white border-solid">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-500 rounded-full"><span class="text-sm font-bold">✓</span></span> Interact with people like minded
              </li>
          </ul>
      </div>
      <!-- End  Content -->

      <!-- Image -->
      <div class="box-border relative w-full max-w-md px-4 mt-10 mb-4 text-center bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2">
          <img src="{% static '/imgs/meta.png' %}" class="pl-4 sm:pr-10 xl:pl-10 lg:pr-32 w-full">
      </div>
  </div>
</section>



<div class="w-full bg-gradient-to-t from-slate-900 via-neutral-900 to-slate-900 px-10 pt-10" id="users-section">
  <div class="container mx-auto">

    <h1 class="xl:text-4xl text-3xl text-center text-transparent font-bold bg-clip-text bg-gradient-to-br from-red-600 via-blue-900 to-slate-900 pb-6 sm:w-4/6 w-5/6 mx-auto">The Talented People Behind Cybersecurity</h1>

    <form action="#users-section" method="GET">
      <div class="flex justify-center m-2 mb-4">
        <div class="mb-3 xl:w-96">
          <div class="input-group relative flex flex-wrap items-stretch w-full mb-4 grid grid-cols-5 gap-2 ">
            <input value="{{search_query}}" name="search_query" type="search" class=" col-span-4 form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search User" aria-label="Search" aria-describedby="button-addon2">
            <button type="submit" class="btn inline-block px-6 py-3 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="button" id="button-addon2">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </form>


    <div
      role="list"
      aria-label="Behind the scenes People "
      class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around "
    >
    {% for profile in profiles %}
      <div
        role="listitem"
        class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 mr-1 ml-1 sm:mb-24 xl:max-w-sm lg:w-2/5 h-full "
      >
      <a href="{% url 'user-profile' profile.id %}">
        <div class="rounded overflow-hidden shadow-md bg-white ">
          <div class="bg-grey-800 absolute -mt-20 w-full flex justify-center">
            <div class="h-32 w-32">
              <img
                src="{{profile.profile_image.url}}"
                alt="Profile"
                role="img"
                class="rounded-full object-cover h-full w-full shadow-md border-2 border-[#923cb5]"
              />
            </div>
          </div>
          <div class="bg-grey-900 px-6 mt-16">
            <h1 class="font-bold text-3xl text-center mb-1 text-black">{{profile.user|title}}</h1>
            <p class="text-gray-800 text-sm text-center"></p>
            <p class="text-center text-gray-600 text-base pt-3 font-normal">
              {{profile.bio|slice:"160"}}
            </p>

            <div class="px-6 pt-4 pb-2">
            {% for interest in profile.interests_set.all %}
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{interest}}</span>
            {% endfor %}
          </div>

            <div class="w-full flex justify-center pt-5 pb-5">
              {% if profile.github %}
                <a href="{{profile.github}}" class="mx-5">
                  <div aria-label="Github" role="img">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#718096"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-github"
                    >
                      <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                      ></path>
                    </svg>
                  </div>
                </a>
              {% endif %}

              {% if profile.twitter %}
                <a href="{{profile.twitter}}" class="mx-2">
                  <div aria-label="Twitter" role="img">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#718096"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-twitter"
                    >
                      <path
                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                      ></path>
                    </svg>
                  </div>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}

    {% comment %} Pagination {% endcomment %}
    <div class="container mx-auto">
      {% include "paginator.html" with queryset=profiles custom_range=custom_range%}
    </div>

{% include "footer.html" %}
{% endblock content %}


